/* credits : 
panier-2313462.jpg -- https://pixabay.com/fr/photos/cuit-pains-corbeille-2313462/
boulanger-1868396.jpg -- https://pixabay.com/fr/photos/boulangerie-pain-boulanger-tablier-1868396/
pate-943245.jpg -- https://pixabay.com/fr/photos/p%c3%a2te-cuisiner-recette-italien-943245/
stollen-1768907.jpg -- https://pixabay.com/fr/photos/vol%c3%a9-pain-les-miettes-p%c3%a2tisserie-1768907/
cinnamon-rolls-1417494.jpg -- https://pixabay.com/fr/photos/brioches-%c3%a0-la-cannelle-pain-spirale-1417494/
tartine-5619887.jpg -- https://pixabay.com/fr/photos/gourmet-aliments-pain-assiette-5619887/
cupcakes-5116009.jpg -- https://pixabay.com/fr/photos/petits-g%c3%a2teaux-chocolat-muffin-5116009/
boulangerie-1868925_1920.jpg -- https://pixabay.com/fr/photos/boulangerie-pains-assorti-1868925/
petits-fours-1283821.jpg -- https://pixabay.com/fr/photos/petits-g%c3%a2teaux-des-fruits-le-dessert-1283821/
coffee-4334647.jpg -- https://pixabay.com/fr/photos/caf%c3%a9-cappuccino-latte-expresso-4334647/

** ORDER PAGE **
Rye bread: Image par <a href="https://pixabay.com/fr/users/kdesignzv-3116582/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5794325">Katarína Gibalova</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5794325">Pixabay</a>
Pumpkin bread: Image par <a href="https://pixabay.com/fr/users/zozz_-2628741/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5784572">Zozz_</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5784572">Pixabay</a>
White bread: Image par <a href="https://pixabay.com/fr/users/webentwicklerin-5523/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4935132">Gabriele Lässer</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4935132">Pixabay</a>
Pumpernickel bread: Image par <a href="https://pixabay.com/fr/users/visor69-3487920/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2016757">Андрей Баклан</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2016757">Pixabay</a>

** ABOUT US PAGE **
Kneading - Photo by Jeremy Yap on Unsplash
Bakery - Photo by Yeh Xintong on Unsplash
Brussels - Image par <a href="https://pixabay.com/fr/users/ssalae-369698/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=882455">Ji-Sun Yoo</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=882455">Pixabay</a>

** VISIT US PAGE **
Pain cuit <a href="https://pixabay.com/fr/users/svetlanabar-8558152/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5470532">svetlanabar</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5470532">Pixabay</a>
envelope icon: <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Kiranshastry - Flaticon</a>
twitter icon: <a target="_blank" href="https://icons8.com/icon/60014/twitter">Twitter</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
facebook icon: <a target="_blank" href="https://icons8.com/icon/118466/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
close window button: <a target="_blank" href="https://icons8.com/icon/85008/close-window">Close Window</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>;
*/
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Gloria+Hallelujah&family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; 
font-family: 'Cormorant Garamond', serif; 
font-family: 'Quicksand', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Beth Ellen', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Grape Nuts', cursive;*/

.colourscheme {
    color: #1C2120
    #F2EFEB
    #8D8F84
    #F2C744
    #484B4B
    #C07A35
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #1C2120;
    background-color: #F2EFEB;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    
}

#page-container {
    padding-top: 0!important;
    margin: auto;
    display: block;
    font-size: 100%;
    margin: 0;
}

p, address {
    font-family: 'Raleway', sans-serif; 
    font-size: 17px;
    text-align: justify;
    font-style: normal;
}

address {
    text-align: left;
}

#address-section {
    margin-bottom: 30px;
}
#main-content {
    width: 100%;
    padding-bottom: 70px;
}

div {
    font-size: 100%;
    vertical-align: baseline;
}

span {    
    vertical-align: baseline;
    }

/* header */
/* burger */


.burger-wrapper {
    position: relative;
}

.burger {
    width: 42px;
    height: 24px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: -110px;
}
.burger span {
    width: 100%;
    height: 4px;
    background-color: #F2EFEB;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F2EFEB;
    transition: transform 0.5s ease-in-out;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/* end of burger */ 
#main-header {
    position: relative;
    border-bottom: 3px solid #F2C744;
    background-color: #1C2120 !important;
    width: 100%;
    height: 180px;
    z-index: 3;
    max-width: 100%;
}

.inner-header {
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
    position: static !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.logo-container {
    position: static !important;
    width: auto !important;
    height: auto !important;
    display: inline-block;

}

a {
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;
    color: #1C2120;
}
.logo-container a {
    display: inline-block;

}

#logo {
    max-width: 220px !important;
    display: inline-block;
    float: none;
    max-height: 80%;
    margin-bottom: 0;
    margin-left: 20px;
    vertical-align: middle;
}

#logo:hover  {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}

#footer-logo-1:hover {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}

.icon-sm:hover {
    filter: invert(7%) sepia(50%) saturate(3000%) hue-rotate(322deg) brightness(100%) contrast(90%);
}
/* MAIN CONTENT */

/* SLIDESHOW */

.mySlides {
    display:none;
    width: 100%;
    height: 50vh;
}

#slider-text, #slider-icon {
display:none;
}

.slideshow {
    max-width:100%
}

.cover {
    object-fit: cover;
}
.animate-right {
    position:relative;
    animation:animateright 1s}
    
@keyframes animateright {
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

h3.home-article {
    margin-top: 50px;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    font-size: 1em;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.back-to-top-h5 {
margin-top: 0;
margin-bottom: 20px;
}

.back-to-top-h5:hover {
    opacity: 60%;
}

.main-articles {
margin-bottom: 50px;
}

.main-info-section, .main-about-section, .main-address-section {
    width: 85%;
    margin: auto;
}

.article-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.top-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#black-arrow {
    display: none;
}
/*footer*/

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.footer-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border-bottom:solid 3px #F2C744;
}
div.footer-newsletter a {
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #1C2120;
}

div.footer-newsletter img {
    width: 35px;
}


div.footer-content {
    margin: 0 auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: space-evenly;
    flex-direction: row;
}

div.footer-logo-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: center;
    flex-direction: row;}

div.footer-menus-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #1C2120;
    color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.footer-menu-container {
    float: left;
    max-width: 100%;
    padding: 0 20px 0 20px;
}

#footer-logo-1 {
    max-width: 200px !important;
}


ul.menu-footer {
    padding: 0;
    list-style-type: none;
    margin-top: 2em;
}

#f-m-container-1 {
    font-weight: 400;
}

#f-m-container-2 {
    font-weight: 600;
}

.f-menu-item, .f-menu-item-linked {
    margin-bottom: 0.6em;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.f-menu-item:hover {
    color: #F2C744;
}

.f-menu-item-linked:hover {
    color: #F2C744;
}

.f-menu-item-linked::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F2C744;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .f-menu-item-linked:hover::before {
    transform: scaleX(1);
  }

.footer-social-media {
    background-color:#1C2120;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a img.icon-sm {
    max-width: 50px;
    height: auto;
    padding: 10px;
}

/* dropdown menu style */
#menu {
display:none;
}

#menu.active {
display:block;
animation: fadeIn 1s;
position: absolute;
width: 100%;
top: -60;
}



@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

/* 1. I want to shift the #menu.active up 60px but top: -60px doesn't work. 
2. I also want to hide the top of the menu behind #main-header but z-index isn't working. 
3. I want to stretch the width of the page, but it's nested in the inner header which has a 90% width.
I've tried setting the width to 110% to compensate but that shifts the menu to the right,
even when margins are set to auto.
4. There is a wide margin at the top of the nav element. 
I can't get rid of it using margin-top: 0 but I don't want it there.*/

ul#mobile-menu {
    list-style: none;
    padding: 0px;
    width: 100%;
}

/* ul#mobile-menu>li:first-child {
    border-top: 2px solid #F2C744;

} */

ul#mobile-menu>li {
    border-bottom: 2px solid #F2C744;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #484B4B;
}

ul#mobile-menu>li:last-child {
    border-bottom: 5px solid #F2C744;

}

ul#mobile-menu {
font-size: 14px;
font-family: 'Raleway', sans-serif;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.08em;
}

ul#mobile-menu a {
    position: relative;
    text-decoration: none;
    color: #F2EFEB; 

}

.menu-item {
    padding-top: 36px;
    padding-bottom: 36px;
    display: block;
    line-height: 1;
}

.menu-item-of-page {
    background-color: #1C2120 !important;
    color: #F2C744 !important;
    border-bottom: 2px solid #F2C744 !important;
    text-align: center !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
    display: block;
    line-height: 1;
}

/* desktop menu - hidden state */
#desktop-menu {
    display: none;
}
/* Change the link colour on hover */
ul#mobile-menu a:hover {
    background-color: #8D8F84;
    color: #F2C744;
}

ul#mobile-menu a:active {
    background-color:#F2C744; 
    color: #484B4B;
}
  
ul#mobile-menu a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #F2C744;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  ul#mobile-menu a:hover::before {
    transform: scaleX(1);
  }
  
/* Find us page */

.shop-title {
    font-weight:500;
}

.list {
    margin: 5px;
}

.days {
    font-weight: 500;
}

/* Map */
/* The map should be showing Gare Maritime in Brussels. Instead, it's showng a random place in the French countryside. Why? */

#mapouter {
    position: relative;
    text-align: right;
    margin: 50px 0;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(49, 49, 46, 0.2);
}



/* contact form (Find us page) */

/* Why can't I change properties by calling on the form class .contact-form and the label class .contact? */

form.contact-form {
    margin: 50px 0 ;
    background-color: #484B4B;
    padding: 20px;
    border-radius: 10px;
}

#fname-label, #lname-label, #email-label, #subject-label {
    font-family: 'Raleway', sans-serif; 
    font-size: 17px;
    text-align: justify;
    font-style: normal;
}

#fname, #lname, #email1, #subject1  {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Raleway', sans-serif;   
}

button#submit {
    background-color: rgb(192, 122, 53);
    box-shadow: 0 10px 20px rgba(49, 49, 46, 0.6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }


button#submit:hover {
    background-color: rgb(150, 95, 40);
    box-shadow: 0 4px 10px rgba(49, 49, 46, 0.8);
    }
button#submit:active {
    background-color:    rgb(141, 143, 132); 
    box-shadow: 0 4px 10px rgba(49, 49, 46, 0.8);
    }

/* .contact-form input[type=submit]:active {
background-color:    rgb(141, 143, 132); 
box-shadow: 0 4px 10px rgba(49, 49, 46, 0.8);
} */

.contact-form .container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

/* Subscribe to our newsletter pop-up */
/* I need more JS to open and close the online form when you click on "subscribe" */

/* The popup form - hidden by default */
/* The popup form - hidden by default */
.popuptext {
    display: none;
}

.form-popup {
    display: none;
    position: fixed;
    position: fixed;
    bottom: 20%;
    z-index: 9;
}

.subscribe {
    max-width: 420px;
    margin: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin: auto;
    margin-top: 20%;
	background: white;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(95, 107, 119, 0.5);
    z-index: 9;
}

.subscribe__title {
	font-weight: 600;
	margin: 18px;
}

.subscribe__copy {
	max-width: 450px;
	text-align: center;
	margin-bottom: 53px;
	line-height: 1.5;
    margin: 10px 30px 30px 30px;
}

.form {
	margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form__email, .form__name, .placeholderRed, input#firstName, input#lastName, input#email  {
	padding: 20px 25px;
    margin-bottom: 10px;
	border-radius: 5px;
    border: 1px solid #CAD3DB;
	font-size: 15px;
	color: #0F121F;
    width: 80% !important;
}

.form__email:focus, .form__name:focus, input#firstName:focus, input#lastName:focus, input#email:focus {
	outline: 1px solid rgb(192, 122, 53);
}

input#fname:focus, input#lname:focus, input#email1:focus, textarea#subject1:focus {
	outline: 1px solid rgb(192, 122, 53);
}

/* input#fname.placeholderRed1, input#lname.placeholderRed1, input#email1.placeholderRed1, textarea#subject1.placeholderRed1 {
    outline: 1px solid red !important;
    width: 100% !important;
} */

.success {
    color:green;
    font-size: 15px;
}

.error {
    color:red;

}
.success p {
    font-size: 15px;
}

.error p {
    font-size: 15px;
}

.form__button {
	background: rgb(192, 122, 53);
	border: none;
    width: 80%;
	height: 65px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	box-shadow: 0 4px 20px rgba(192, 122, 53, 0.7);
    margin-bottom: 10px;
}
.cancel-button {
    display: flex;
    align-self:flex-end;
    margin: 5px;
}

.btn__cancel {
    border: 0;
    background-color: transparent;
    opacity: 80%;
}

.btn__cancel:hover {
    opacity: 100%;
}

.btn__cancel:active {
    opacity: 50%;
}

.form__button:hover {
    background: rgb(150, 95, 40);
	box-shadow: 0 10px 20px rgba(150, 95, 40, 0.7); 
}

.form__button:active {
    background:     rgb(72, 75, 75);
	box-shadow: 0 10px 20px rgba(72, 75, 75, 0.8);
}

.notice {
	width: 80%;
    margin-bottom: 15px;
}

.notice__copy {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* How do I get the pop up form to stay on the same place in the page as the button, 
instead of jumping to the top? */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    cursor: pointer;
}

button.open-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

button.open-button:hover {
    opacity: 60%;
}

/* ORDER PAGE */

.order-section {
    padding: 0px 5px 5px;
    display: block;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 16px;
    margin-bottom: 40px;
    margin-top: 24px;
}

article.products {
    padding: 0 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(49, 49, 46, 0.3);
}

.product-price {
    margin: 0;
}

.product-img {
    max-width: 100%;
}

.order-button {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    background-color: #1C2120;
    border: none;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
}

.order-button:hover {
    opacity: 70%;
}

.price-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: stretch;
}

/* ABOUT US */

.about-image {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#about-title {
    margin-top: 40px;
    margin-bottom: 0;
}

@media all and (max-width: 390px)
{
.order-button {
    font-size: 0.5em;
}
.price-order {
    flex-direction: column;
}
}

@media all and (max-width: 601px)
{
.subscribe {
    max-width: 80%;
}
h4 {
    font-size: 0.7em;
}

.product-price {
    font-size: 13px;
}
}
@media all and (min-width: 601px) {
/* tablets */
.order-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.text-outer {
    display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr 2fr;
grid-column-gap: 10px;
grid-row-gap: 0px;
}

#address-section {
    grid-area: 1 / 1 / 2 / 2;
}

#mapouter {
    grid-area: 1 / 2 / 2 / 3;
}

#opening {
    grid-area: 2 / 1 / 3 / 2;
}

.contact-form-container {
    grid-area: 2 / 2 / 3 / 3;
}

@media all and (max-width:800px) {

.days {
    padding-right: 120px;
}
}

@media all and (min-width: 960px) {
/* laptop/desktop menu */

.text-outer {
    grid-template-columns: 1fr 2fr;
}
.main-address-section {
    width:75%;
}

#main-header {
    width: 100% !important;
    position: relative;
    border-bottom: 3px solid #F2C744;
}
#top-navigation-desktop {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    float: right;
    font-weight: 600;
    align-items: flex-end;
    justify-content: space-between;
}

#desktop-menu {
    display: flex;
    color:#CAD3DB;
}

#desktop-menu li {
display: flex;
align-items: center;
padding-right: 40px;
position: relative;
line-height: 1em;
color: #F2EFEB
}

a.menu-item {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 0.6em;
    text-align: center;
    color: #F2EFEB;
    font-size: 1.1em;
    position: relative;
    border-bottom: 1px solid #1C2120
}

a.menu-item:hover {
    color:#F2C744;
    border-bottom: 1px solid #F2C744;
}

a#menu-item-of-page {
    border-bottom: 1px solid #F2EFEB;
}

a#menu-item-of-page:hover {
    border-bottom: 1px solid #F2C744;;
}
.burger-wrapper {
    display: none;
}

/* laptop/desktop slideshow */

.mySlides {
    height: 75vh;
}

#slider-text {
    display:block;
    position: absolute;
    font-family: 'Beth Ellen', cursive;
    font-size: 5em;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
}

#slider-icon {
    display: block;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 5em;
}

#slider-icon:hover {
    opacity:50%;
}

/* main section desktop/laptop */
#main-content {
    padding-bottom: 0px;
}

.main-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.3fr 2.1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.text-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

h3.home-article {
    margin-top: 40px;
    margin-bottom: auto;
}
#black-arrow {
    display: block;
    height: 4.7em;
    margin: auto
}

#black-arrow:hover {
    opacity: 70%;
}

}

@media all and (min-width: 1366px) {
    /* desktop menu */

.inner-header {
    width: 95%;
}

.main-address-section {
    width:80%;
}

.text-outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
}


#mapouter {
    grid-area: 2 / 1 / 3 / 2;
}

#opening {
    grid-area: 1 / 2 / 3 / 3;
}

.contact-form-container {
    grid-area: 1 / 3 / 3 / 4;
}

.subscribe {
margin-top: 10%;
}
}

}
